@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;600&family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@media only screen and (min-width: 100px) {
  header {
    width: 100%;
    background: #3c3a39;
  }

  body {
    background: #e5e5e5;
    width: 100vw;
    min-width: 375px;
  }

  .toolbar {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px 0  24px;
  }

  .toolbar__menu {
    display: none;
  }

  .toolbar__logo {
    padding-left: 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
  }

  #toolbar__button {
    padding-top: 10px;
  }

  #portfolio {
    width: 100%;
    height: 590px;
    background: #1c1a19 url(Assets/background-image.svg) no-repeat right 112%;
    padding: 120px 24px;
    background-size: 30%;
  }

  h1 {
    font: 400 56px/64px 'Crete Round', serif;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  h2 {
    font: 700 24px/32px 'Roboto', sans-serif;
    color: #fff5e1;
    padding: 12px 0;
  }

  .portfolio__paragraph {
    color: #fff;
    font: 400 16px/24px 'Poppins', sans-serif;
    margin-bottom: 24px;
  }

  .social-media {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
  }

  #experience {
    height: auto;
    padding: 120px 24px;
    background: #fff;
  }

  .experience__subtitle {
    width: 100%;
    height: 107px;
    text-align: left;
    margin-bottom: 80px;
  }

  .experience__subtitle h3 {
    font: 400 40px/52px 'Crete Round', serif;
    padding: 15.5px 0;
    margin-bottom: 24px;
  }

  .experience__hr {
    height: 1px;
    background: #1c1a19;
  }

  .experience__multi-post {
    display: flex;
    flex-direction: column;
  }

  .experience__multi-post img {
    margin-bottom: 12px;
  }

  .experience__multi-post h4 {
    font: 400 32px/44px 'Crete Round', serif;
    margin-bottom: 12px;
    color: #091e42;
  }

  .experience__multi-post p {
    font: 400 16px/24px 'Inter', sans-serif;
    margin-bottom: 12px;
  }

  .multi-post__stack {
    display: flex;
    margin-bottom: 12px;
    font: 500 15px/20px 'Inter', sans-serif;
    gap: 12px;
  }

  .stack__css,
  .stack__html,
  .stack__bootstrap,
  .stack__ruby {
    border: 1px solid #8993a4;
    padding: 10px 12px;
  }

  .experience__button {
    font: 700 17px/24px 'Inter', sans-serif;
    color: #fff;
    background: #ff6b00;
    margin-bottom: 24px;
    padding: 12px;
    border: none;
  }

  .experience__button:hover {
    padding: 11px;
    color: #f55800;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .experience__grid {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 386px);
    gap: 24px;
  }

  .grid__item {
    max-width: 327px;
    background: url(Assets/grid-fade-prof-img.svg) no-repeat;
    background-size: cover;
    color: #fff;
    padding: 72px 19px 0 0;
  }

  .grid__item h4 {
    font: 400 32px/44px 'Crete Round', serif;
    margin-bottom: 12px;
    margin-left: 13px;
  }

  .grid__item p {
    font: 400 16px/24px 'Inter', sans-serif;
    margin-bottom: 1px;
    margin-left: 13px;
  }

  .grid__item-stack {
    display: flex;
    margin-bottom: 16px;
    font: 500 15px/20px 'Inter', sans-serif;
    gap: 12px;
    margin-left: 13px;
  }

  .grid__bootstrap,
  .grid__html,
  .grid__ruby {
    background: #ffffff3d;
    border: 1px solid #8993a4;
    padding: 10px 12px;
  }

  .grid__item-button {
    width: 327px;
    font: 700 17px/24px 'Inter', sans-serif;
    letter-spacing: 3%;
    color: #fff;
    background: #f55800;
    padding: 12px;
    border: none;
  }

  .grid__item-button:hover {
    padding: 11px;
    color: #f55800;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  #about {
    margin: auto;
    background: #1c1a19 url(Assets/about\ img.svg) no-repeat right 400px;
    padding: 120px 24px 87.5px 24px;
  }

  .about__info {
    max-width: 327px;
  }

  .about__info h4 {
    font: 400 72px/88px 'Crete Round', serif;
    letter-spacing: 0.37px;
    margin-bottom: 12px;
    color: #ff6b00;
  }

  .about__info p {
    color: #f4f5f7;
    font: 400 16px/24px 'Inter', sans-serif;
    margin-bottom: 24px;
  }

  #about hr {
    margin-top: 209px;
    margin-bottom: 136px;
    border: 1px solid #fff;
    min-width: 327px;
  }

  .about__languaje {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: url(Assets/diamond.svg) no-repeat 20% 2.5%;
  }

  .about__frameworks {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: url(Assets/cuadro.svg) no-repeat 16% 3.5%;
  }

  .about__skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: url(Assets/circulo.svg) no-repeat 34% 2.6%;
  }

  .about__languaje h4,
  .about__frameworks h4,
  .about__skills h4 {
    color: #fff;
    font: 700 32px/44px 'Inter', sans-serif;
    margin-bottom: 24px;
    padding-left: 30px;
  }

  .about__languaje ul li,
  .about__frameworks ul li,
  .about__skills ul li {
    color: #fff;
    padding: 10px;
    font: 400 22px/42.67px 'Inter', sans-serif;
  }
}

@media only screen and (min-width: 768px) {
  /* Future Breakpoint */
}
